{% extends 'base.html.twig' %}

{% block title %}Shroud-Silvermoon | Applications{% endblock %}



{% block body %}

<div id="applications-root" class="applications-wrapper auto-container">
</div>
{% endblock %}

{% block latejavascripts %}
  {{ encore_entry_script_tags('ApplicationsContainer') }}
{% endblock %}
