{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
<div class="hero">
  <div class="welcome">
    <h1> Welcome </h1>
    <h2> to the <strong>Shroud Silvermoon</strong> guild website </h2>
    <p> Here you may find information about the guild and either create a new application or manage an existing one. </p>
    <a class="apply-now" href="/apply"> Apply Now </a>
    <span>
      <a class="more-info"> Not yet, tell me more! </a>
      <img class="chevron down" src="/images/chevron-down.svg"/>
    </span>
  </div>
</div>
<div class="guild-info">
  <div class="recruitment">
    <h1> Recruitment Status </h1>
    <span class="recruitment-status"> We are currently accepting applications for the following roles. If your spec is not currently in demand, you may apply regardless - exceptional players are always desired. </span>

    <div class="recruitment-container">
      <div class="classInfo">
        <img src="/images/classes/druid.png"/>
        <div class="spec-info">
          <span class="spec needed">Balance</span>
          <span class="spec">Feral</span>
          <span class="spec">Guardian</span>
          <span class="spec needed">Restoration</span>
        </div>
      </div>

      <div class="classInfo">
        <img src="/images/classes/deathknight.png"/>
        <div class="spec-info">
          <span class="spec needed">Frost</span>
          <span class="spec">Unholy</span>
          <span class="spec">Blood</span>
        </div>
      </div>

      <div class="classInfo">
        <img src="/images/classes/hunter.png"/>
        <div class="spec-info">
          <span class="spec needed">Marksman</span>
          <span class="spec">Beast Master</span>
          <span class="spec">Survival</span>
        </div>
      </div>

      <div class="classInfo">
        <img src="/images/classes/mage.png"/>
        <div class="spec-info">
          <span class="spec needed">Frost</span>
          <span class="spec">Fire</span>
          <span class="spec">Arcane</span>
        </div>
      </div>

      <div class="classInfo">
        <img src="/images/classes/monk.png"/>
        <div class="spec-info">
          <span class="spec needed">Windwalker</span>
          <span class="spec">Brewmaster</span>
          <span class="spec">Mistweaver</span>
        </div>
      </div>

      <div class="classInfo">
        <img src="/images/classes/paladin.png"/>
        <div class="spec-info">
          <span class="spec needed">Holy</span>
          <span class="spec">Retribution</span>
          <span class="spec">Protection</span>
        </div>
      </div>

      <div class="classInfo">
        <img src="/images/classes/priest.png"/>
        <div class="spec-info">
          <span class="spec needed">Holy</span>
          <span class="spec">Discipline</span>
          <span class="spec">Shadow</span>
        </div>
      </div>

      <div class="classInfo">
        <img src="/images/classes/rogue.png"/>
        <div class="spec-info">
          <span class="spec needed">Outlaw</span>
          <span class="spec">Subtlty</span>
          <span class="spec">Combat</span>
        </div>
      </div>

      <div class="classInfo">
        <img src="/images/classes/shaman.png"/>
        <div class="spec-info">
          <span class="spec needed">Enhancement</span>
          <span class="spec">Restoration</span>
          <span class="spec">Elemental</span>
        </div>
      </div>

      <div class="classInfo">
        <img src="/images/classes/warlock.png"/>
        <div class="spec-info">
          <span class="spec needed">Destruction</span>
          <span class="spec">Affliction</span>
          <span class="spec">Demonology</span>
        </div>
      </div>

      <div class="classInfo">
        <img src="/images/classes/warrior.png"/>
        <div class="spec-info">
          <span class="spec needed">Protection</span>
          <span class="spec">Arms</span>
          <span class="spec">Fury</span>
        </div>
      </div>

      <div class="classInfo">
        <img src="/images/classes/warrior.png"/>
        <div class="spec-info">
          <span class="spec needed">Fury</span>
          <span class="spec">Havoc</span>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
