{% extends 'base.html.twig' %}

{% block title %}Shroud-Silvermoon{% endblock %}

{% block body %}
<div class="hero">
  <div class="welcome">
    <h1> Welcome </h1>
    <h2> to the <strong>Shroud Silvermoon</strong> guild website </h2>
    <p> Here you may find information about the guild and either create a new application or manage an existing one. </p>
    <a class="apply-now" href="/apply"> Apply Now </a>
    <span>
      <a class="more-info"> Not yet, tell me more! </a>
      <img class="chevron down" src="/images/chevron-down.svg"/>
    </span>
  </div>
</div>
<div class="guild-info">
  <div class="info auto-container">
    <h3> Guild Information </h3>
    <p>
      Shroud is an established raiding guild looking for skilled players to join our progress raid team. We aim to progress as far as possible through mythic content each tier. You can see what we are recruiting from the recruitment box, however exceptional applications will always be considered.
    </p>

    <h4> What we will give to you </h4>
    <ul>
      <li>A well-organized guild</li>
      <li>A friendly and fun atmosphere</li>
      <li>A progressive raid team, working through mythic</li>
      <li>A fun community to play games with, not just wow!</li>
    </ul>

    <h4> What we expect from you </h4>
    <ul>
      <li> That you are prepared for every raid and ready on time </li>
      <li>Know your class and be dedicated to keeping up-to-date on the class</li>
      <li>Able to take criticism and progress from it</li>
      <li>Always bring flasks, pots and food</li>
      <li>Don't stand in the fire</li>
    </ul>
    <strong class="sign"> - Shroud Team </strong>
  </div>
  <div class="progress auto-container">
    <h3> Guild Progress </h3>
    <h4> The Eternal Palace 7/8 H </h4>
  </div>
  <div class="recruitment auto-container">
    {{ include('reusable/recruitment.html.twig')}}
  </div>
</div>

{% endblock %}
