{% extends 'base.html.twig' %}

{% block title %}Shroud-Silvermoon | Apply{% endblock %}

{% block body %}
<div class="apply-container auto-container">
  <h1> Your account has been successfully created. </h1>
  <p> Please check your email for a verification link </p>
</div>
{% endblock %}
