@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* vars & consts */
:root {
  --accent-colour: #25f0a0;
  --accent-colour-lighter:#4bf2b0;
}

/* base and head */
body, html {
  margin: 0;
  background: white;
  height:100%;
  font-family: 'Montserrat', sans-serif;
}
#head {
  display: block;
  background: white;
  box-shadow: 0px 5px 6px #00000033;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.logo {
  max-width: 100px;
  max-height:100px;
}

#head .desktop-header { /* desktop version hidden on mobile */
  display:none;
}

#head .mobile-header {
display: flex;
justify-content: space-around;
}

.mobile-nav {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-nav a {
  padding: 10px;
  width: 70%;
  text-align: right;
  font-size: 24px;
}

.mobile-nav-dropdown-button {
  background: white;
  border: none;
  color:var(--accent-colour);
  width: 30%;
  outline:none;
}

#nav-chevron {
  filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
}

.mobile-nav-dropdown {
  background: white;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  top: 100%;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  box-shadow: 0px 5px 6px #00000033;
}

.mobile-nav-dropdown a {
  text-align: center;
  padding: 15px;
}

.nav-dropdown-show{
  max-height: 330px;
}

#head a {
  text-decoration: none;
  color:black;
}

h1 {
  font-size: 24px;
  text-align: center;
}
h2 {
  font-size: 18px;
  text-align: center;
}

h3 {
  width: 100%;
  margin: 20px auto;
  font-size: 22px;
  box-shadow: 0px 5px 5px #0000002e;
  padding: 5px 25px 5px;
  color: black;
  border-radius: 3px;
  border-left: 20px solid var(--accent-colour);
  box-sizing: border-box;
}

h4 {
  text-align: center;
}

p{
  text-align: justify;
}

strong {
  color:var(--accent-colour);
}

.sign {
  text-align: center;
  display: block;
}

.chevron{
  display: block;
  margin: auto;
  transition: transform 0.2s ease-out;
}

.chevron-up{
  transform:rotate(180deg);
}

.down:hover{
  animation-name: bobDown;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1s;
}
@keyframes bobDown {
    from{
      transform: translateY(0px);
    }
    to{
      transform: translateY(5px);
    }
}

@media only screen and (min-width: 800px) {

}
/* end base and head */

/* Index.html */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://i.imgur.com/WmWDyUo.jpg);
  height: 94.3%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.welcome {
  position: absolute;
  background: #f3f3f3;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  color: black;
  padding: 20px;
  box-shadow: 0px 0px 7px #00000059;
  width: 100%;
  max-width: 340px;
  box-sizing: border-box;
}

.apply-now {
  background: var(--accent-colour);
  padding:10px 5px;
  text-decoration: none;
  margin:auto;
  display: block;
  width:150px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.apply-now:hover{
  background: var(--accent-colour-lighter);
}

.more-info {
  text-align: center;
  display: block;
  margin-top: 10px;
}

/* end index.html */

/* recruitment */
.recruitment {
  margin-bottom: 30px;
}

.recruitment-container{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.img-container {
  background: black;
display: block;
width: fit-content;
border-radius: 20px;
margin: auto;
}

.classInfo {
  width: 50%;
  padding: 5px;
  border-radius: 3px;
  margin:auto;
}

.classInfo img{
  display: block;
  width: 64px;
  margin: auto;
  margin-bottom: 5px;
}

.spec-info{
  display: flex;
  flex-direction: column;
}
.spec{
  background: #dc6666;
  border: 1px solid black;
  text-align: center;
  padding: 2px;
  margin-bottom: 1px;
}
.needed{
  background: #73dc66;
}

.auto-container {
  max-width: 900px;
  margin: auto;
  padding:0px 10px;
}

/* Desktop */
@media only screen and (min-width: 800px) {
  #head .desktop-header { /* desktop version of header */
    display:flex;
    width:100%;
    max-width: 1000px;
    margin:auto;
    justify-content: space-between;
    align-items: center;
  }

  #head .mobile-header{
    display: none;
  }
  .logo {
    max-width: 70px;
    max-height:70px;
    margin-right: 30px;
    display: unset;
  }

  .classInfo {
    width: 120px;
    padding: 5px;
    border-radius: 3px;
  }
  .recruitment-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  ul {
    text-align: center;
    list-style: none;
    padding-right: 40px;
  }

  .nav {
    width:40%;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .nav a {
    margin-right: 20px;
    display: block;
  }

  .nav a:hover > .status-bar{
    width:100%;
  }

  .active {
    color:var(--accent-colour)!important;
  }

  .status-bar {
    border-bottom: 2px solid var(--accent-colour);
    margin-top: 3px;
    width: 0%;
    margin-left: auto;
    margin-right: auto;
    transition:width 0.2s ease-out;
  }

  .login {
    width:fit-content;
    text-align: right;
  }

  .logged-in{
  }

  .login:hover > .status-bar{
    width:100%;
  }

}
/* end recruitment */




/* Apply Page */
.apply-container{
  padding-top:110px;
}

.form-control {
  background: #fafafa;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.entry-label {
  display: block;
  text-align: center;
  font-size: 22px;
}

.entry-input input {
  width: 80%;
  display: block;
  font-size: 24px;
  margin: auto;
  margin-top: 15px;
  border: none;
  margin-bottom: 10px;
  max-width:400px;
}

.entry-input textarea {
  width: 80%;
  display: block;
  font-size: 18px;
  margin: auto;
  margin-top: 15px;
  border: none;
  height: 200px;
  margin-bottom: 10px;
}

.entry-input select {
  display: block;
  margin: auto;
  width: 80%;
  max-width: 250px;
  height:40px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.entry-error {
  color: red;
  font-weight: bold;
}

.entry-error ul {
  list-style: none;
}

#form_save {
  height:50px;
  width:100%;
  max-width: 300px;
  border:none;
  display: block;
  margin:auto;
  margin-bottom: 30px;
  background: var(--accent-colour);
  color:white;
  font-weight: bold;
}
/* End apply page */


/* Login Page */
.login-container{
  padding-top:110px;
}
.btn {
  height:50px;
  width:100%;
  max-width: 300px;
  border:none;
  display: block;
  margin:auto;
  margin-bottom: 30px;
  background: var(--accent-colour);
  color:white;
  font-weight: bold;
}

.login-field {
  text-align: center;
}

.login-field label {
  display: block;
}
.login-field input {
  width:100%;
  max-width: 300px;
}


/* Applications css */
.applications-wrapper {
  padding-top:110px;
}

.application-container {
  display:block;
  background: #666;
  border-left:20px solid var(--accent-colour);
  padding:20px;
  border-top-right-radius: 25px;
  overflow: hidden;
}

.applications-container{
  overflow: hidden;
}

.applications-controlPanel {
  height:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.searchApp{
  border:none;
  display: block;
  width:40%;
  min-width: 200px;
  height: 30px;
  box-shadow: 0px 0px 7px #00000021;
  padding: 2px;
  padding-left: 20px;
}

.applications-container .wrapper {
  display: flex;
  width: 205%;
  position: relative;
  left: 0%;
  transition: left 0.5s ease-out;
  max-height: 65vh;
  overflow-x: auto;
}

.showFullView{
  left:-105%;
}



.applications-container .list {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.applications-container .fullView {
  display: inline-block;
  width:100%;
  height:100%;
  padding-left:5%;
}

.smallApp {
  margin: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 7px #00000021;
  border-left:15px solid white;
}

.activeApp {
  border-left:15px solid var(--accent-colour);
}

.smallApp:hover{
  border-left: 15px solid #8affd1;
  cursor: pointer;
}

.smallApp img {
  margin: 5px 20px;
  max-height: 70px;
  background: black;
  max-width: 70px;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
}

.textContainer{
  width: 100%;
}

.smallName, .smallSpec {
  display: block;
}

.smallName {
  font-size: 24px;
  margin-bottom:2px;
}

.smallSpec {
  margin-bottom:5px;
  font-weight: 100;
}

.smallApplied {
  font-size: 10px;
  text-align: right;
  display: block;
  margin-right:10px;
  font-weight: 100;
}

.largeName{
  font-size:32px;
  display: block;
  margin-bottom:10px;
}

.largeSpec{
  font-size: 24px;
  display: block;
}

.logLink {
  border-radius: 5px;
  background: gray;
  padding: 5px;
  display: block;
  width: 90px;
  text-align: center;
  margin-top: 10px;
}

.logLink a {
  text-decoration: none;
  color:white
}

.logLink a:hover{
  color:var(--accent-colour);
}

.voice {
  display: block;
}

.battletag{
  display: block;
}

@media only screen and (min-width: 800px) {
  .applications-container .wrapper {
    display: flex;
    width:100%;
    position: unset;
  }

  .applications-container .list {
    display: inline-block;
    width: 40%;
    height: 100%;
    max-height: 65vh;
    overflow: auto;
  }

  .applications-container .fullView {
    display: inline-block;
    width: 60%;
    max-height: 70vh;
    margin-top: 5px;
    margin-left: 15px;
    overflow-y: auto;
    padding-left:unset;
  }

  .smallApp {
    margin: 5px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 7px #00000021;
    border-left:15px solid white;
  }

  .backButton{
    display: none;
  }
}
