#react-header{
  color:white;
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1000px;
  margin:auto;
}

#nav {
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  height:100%;
  width: 60%;
}

#nav .nav-links {
  background:#393939;
  height:100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}
#nav .nav-links:hover {
  cursor: pointer;
  background: #5d5d5d;
}

#nav  a{
  text-decoration: none;
  color:white;
}

#nav-link-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width:100%;
}

#nav-status {
  height: 6px;
  width: 100%;
}
