<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
          {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
          {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header id="head">
          <div class="desktop-header">
            <div class="nav">
              <a href="/"><img class="logo" src="https://s3.amazonaws.com/file3.guildlaunch.net/443842/site_files/site_header672.png"></a>
              <a href="/"> Home <div class="status-bar"></div></a>
              {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
              <a href="/applications"> Applications <div class="status-bar"></div></a>
              {% else %}
              <a href="/apply"> Apply <div class="status-bar"></div></a>
              {% endif %}
            </div>
            {% if app.user %}
            <a class="logged-in" href="/logout"> Hello, {{ app.user.username }}! </a>
            {% else %}
            <a class="login" href="/login"> Login <div class="status-bar"></div></a>
            {% endif %}
          </div>

          <div class="mobile-header">
              <a href="/"><img class="logo" src="https://s3.amazonaws.com/file3.guildlaunch.net/443842/site_files/site_header672.png"></a>
              <div class="mobile-nav">
                <a href="/"> Shroud-Silvermoon </a>
                <button class="mobile-nav-dropdown-button" type="button" name="button"><img id="nav-chevron" class="chevron" src="/images/chevron-down.svg"/></button>
              </div>
              <div class="mobile-nav-dropdown">
                <a href="/"> Home <div class="status-bar"></div></a>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a href="/applications"> Applications</a>
                {% else %}
                <a href="/apply"> Apply</a>
                {% endif %}
                {% if app.user %}
                <a class="logged-in" href="/logout"> Logout {{ app.user.username }}</a>
                {% else %}
                <a class="login" href="/login"> Login</a>
                {% endif %}
              </div>
            </div>

          </div>
        </header>

        {% block body %}

        {% endblock %}

        {% block latejavascripts %}
        
        {% endblock %}


    </body>
</html>
