<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
          {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
      <div id="wrapper">
        <header id="head">
          <div class="container">
            <img class="logo" src="https://s3.amazonaws.com/file3.guildlaunch.net/443842/site_files/site_header672.png">
            <div class="nav">
              <a href="/"> Home </a>
              {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
              <a href="/applications"> Applications </a>
              {% else %}
              <a href="/apply"> Apply </a>
              {% endif %}

              <a href="/"> Manage </a>
            </div>
            {% if app.user %}
            <a class="logged-in" href="/logout"> Hello, {{ app.user.username }}! </a>
            {% else %}
            <a class="login" href="/login"> Login </a>
            {% endif %}
          </div>
        </header>
      </div>
        {% block body %}

        {% endblock %}


    </body>
</html>
