<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
          {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
      <div id="header">
      </div>
        {% block body %}
        <div id="header">
        </div>{% endblock %}
        {% block javascripts %}
          <script type="text/javascript">
          {% if app.user %}
            var user = "{{app.user.username}}"
            {% else %}
            var user = false;
            {% endif %}
          </script>


          {{ encore_entry_script_tags('header') }}
        {% endblock %}
    </body>
</html>
